* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.ui-front {
  z-index: 10000 !important;
}

.flex {
  display: flex;
}

.box {
  overflow: hidden;
}

.menu img {
  width: 100%;
}

.logo {
  width: 50%;
  margin-top: 20px;
}

.menu {
  width: 15%;
  background-color: #5963f7;
  background: linear-gradient(135deg, #3f68d8 0%, #7f72f3 100%);
  flex-direction: column;
  align-items: center;
}

.nav-moblie {
  display: none;
}

.shop {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.admin {
  font-size: 16px;
  font-weight: normal;
  color: white;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 50px;
  width: 100%;
}

.menu ul a {
  display: block;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
}

.menu ul a:hover {
  background-color: white;
  color: black;
}

#menu-active {
  background-color: white;
  color: black;
}

.main {
  flex-direction: column;
  width: 85%;
  background-color: white;
}

.banner img {
  width: 100%;
}

.search-box {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.search-form {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(54, 54, 54, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group-prepend {
  width: 25%;
}

.content {
  padding: 1%;
}

form {
  width: 100%;
}

tr {
  text-align: center;
  vertical-align: middle;
}

.my-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.my-modal-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.my-modal-body p {
  color: rgb(52, 182, 52);
}

.notice {
    margin: 30px 30px;
    text-align: justify;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
}

.notice-title {
    text-align: center;
    color: red;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  transform: scale(2);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */

.checkboxtext {
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

.btn-header {
  flex-direction: row;
  justify-content: flex-end;
}

.btn-header button {
  margin-left: 10px;
}

.title-lottery {
  align-items: center;
  font-size: 25px;
  color: brown;
}

.col_1 {
  width: 10%;
}

.col_2 {
  width: 25%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 20%;
}

.col_5 {
  width: 20%;
}

.text-mid {
  text-align: center;
  font-weight: bold;
}

.header-list-lottery {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 25px;
}

.page-number {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}

.page-number a {
	text-decoration: none;
	margin: 2px;
}

.active button {
	background-color: blue;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.offcanvas-start {
	width: 60%;
}

.offcanvas-header {
	background-color: #5963f7;
	background: linear-gradient(135deg, #3f68d8 0%, #7f72f3 100%);
	position: relative;
	height: 8%;
}

.btn-menu-close {
	position: absolute;
	right: 10px;
	color: white;
	font-size: 20px;
	margin: 5px;
}

/*Show on ipad*/

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .main {
    width: 100%;
    height: auto;
  }
  * {
    font-size: 10px;
  }
  .search-form {
    width: 90%;
  }
  .nav-moblie {
    display: flex;
    background-color: #7f72f3;
    justify-content: center;
    position: relative;
  }
  .nav-logo-moblie {
    width: 10%;
  }
  .nav-logo-moblie img {
    width: 80%;
  }
  .nav-icon {
    display: flex;
    width: 10%;
    position: absolute;
    left: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .moblie {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .moblie ul li {
    border-bottom: 1px solid #ddd;
  }
  .offcanvas-body {
    padding: 0px !important;
  }
}

/* Show on mobile*/

@media only screen and (max-width: 576px) {}

.lottery-result {
  padding: 30px;
}