* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
	overflow: hidden;
}

.flex {
	display: flex;
}

.nav-bar {
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: #f88b59;
	background: linear-gradient(135deg, #f8a712 10%, #f88b59 90%);
	position: fixed;
	z-index: 10;
	width: 100%;
	font-size: 18px;
	z-index: 10;
}

.banner {
	position: relative;
}

.banner img {
	width: 100%;
}

.slogan {
	position: absolute;
	top: 30%;
	left: 35%;
}

.slogan h5 {
	font-weight: bold;
	color: rgb(240, 28, 0);
	text-shadow: 5px 2px 4px #cabd04;
	font-size: 5vw;
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'Roboto Slab', serif;
}

.slogan p {
	color: rgb(245, 27, 74);
	font-size: 2.1vw;
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'Philosopher', sans-serif;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 1vw;
}

.btn-search {
	text-align: center;
	margin-left: 28px;
	margin-top: 30px;
	display: none;
}

.btn-search button {
	border: none;
	font-weight: bold;
	border-radius: 25px;
	padding: 5px 20px;
	color: white;
	background-color: #f7a059;
	background: linear-gradient(135deg, #f58428 0%, #f73f79 100%);
	margin: 0px auto;
	width: 100%;
}

.logo {
	width: 4%;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
	padding-bottom: 5px;
}

.logo img {
	max-width: 100%;
}

.nav-list {
	padding: 0px;
	margin: 0px;
	width: 60%;
	justify-content: center;
	text-align: center;
}

.nav-list ul {
	list-style-type: none;
	display: flex;
	padding: 0px;
	margin: 0px;
}

.nav-list ul li {
	padding: 0px 10px;
	display: flex;
	height: 100%;
}

.nav-bar a {
	text-align: center;
	line-height: 60px;
	text-decoration: none;
	color: white;
}

.nav-list ul li:hover {
	color: #f1ed04;
}

.logo-acc {
	width: 20%;
	justify-content: center;
	align-items: center;
}

.login {
	width: 25%;
}

.login a:hover {
	color: #f1ed04;
}

.sign-in, .logout {
	padding: 0px 15px;
	justify-content: center;
	align-items: center;
}

.user {
	width: 20%;
}

.user-logo {
	width: auto;
	min-width: 80%;
	color: white;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 5px 8px;
	justify-content: center;
	align-items: center;
	background-color: #f78a31;
	position: relative;
}

.user-logo span {
	font-size: 1.2vw;
}

.user-logo:hover {
	color: white;
}

.user-logo span {
	margin-left: 10px;
}

.user-drop {
	width: 100%;
	display: none;
	position: absolute;
	top: 100%;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #f78a31;
}

.user-drop a {
	display: block;
}

.user-drop a:hover {
	color: #5177f3;
}

/*main*/
.adv {
	width: 10%;
}

.main {
	width: 60%;
	justify-content: flex-start;
}

.menu {
	width: 25%;
	flex-direction: column;
	margin-top: 20px;
}

.menu-title {
	text-align: center;
	color: white;
	padding: 10px 0px;
	margin-bottom: 10px;
	background-color: #f7a059;
	background: linear-gradient(135deg, #f58428 0%, #f73f79 100%);
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(175, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.menu ul {
	list-style-type: none;
	padding: 0px;
	width: 100%;
	background-color: rgba(209, 209, 209, 0.979);
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(175, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.menu a {
	display: flex;
	text-decoration: none;
	color: rgb(168, 50, 50);
	padding: 5px 20px;
	border-bottom: 1px rgb(204, 219, 230) solid;
	border-top: 1px beige solid;
	border-collapse: collapse;
}

.menu a:hover {
	background-color: #f16f04;
}

/*Result table*/
.result {
	width: 75%;
	flex-direction: column;
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.result-header {
	justify-content: center;
	background-color: #d62710;
	color: white;
	align-items: center;
	height: 60px;
}

.result-header h2 {
	margin: 0px;
}

.box-result {
	flex-direction: column;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	margin: 30px;
}

.table {
	margin-bottom: 0px;
}

.result-title {
	text-align: center;
	background-color: #f7a059;
	background: linear-gradient(135deg, #f58428 0%, #f73f79 100%);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-weight: bold;
	color: white;
	padding: 10px;
}

.row-result {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.result-number {
	width: 25%;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 24px;
	padding: 2px;
}

.prize {
	text-align: center;
	justify-content: center;
	color: #f16f04;
	font-weight: bold;
	vertical-align: middle;
}

.prize p {
	margin: 0px;
	justify-content: center;
}

.special {
	color: red;
	font-size: 26px;
}

/*check-lottery*/
.check-lottery {
	margin-top: 20px;
	width: 20%;
	flex-direction: column;
}

.check-title {
	text-align: center;
	color: white;
	padding: 10px 0px;
	background-color: #f7a059;
	background: linear-gradient(135deg, #f58428 0%, #f73f79 100%);
	box-shadow: 0 4px 8px 0 rgba(175, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.form-lottery {
	background-color: #ddd;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(175, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.form-lottery input {
	width: 70%;
}

.form-lottery select {
	width: 70%;
}

.form-lottery label {
	display: flex;
	width: 30%;
	align-items: center;
}

.form-lottery div {
	margin-bottom: 10px;
}

.submit-lottery {
	align-items: center;
	justify-content: center;
}

.submit-lottery button {
	width: 100%;
	color: white;
	background-color: #f16f04;
	border: none;
	border-radius: 30px;
	padding: 10px;
}

.submit-lottery button:hover {
	background-color: #f12804;
	box-shadow: 0 4px 8px 0 rgba(175, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.sticky {
	position: absolute;
	position: fixed;
	top: 50px;
	right: 10%;
}

.result-search {
	margin: 0px 30px;
	position: relative;
}

.result-search img {
	width: 100%;
}

.congratulation {
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 25%;
	width: 100%;
	left: 0;
}

.good-luck {
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 22%;
	width: 100%;
	left: 0;
	padding: 20px;
}

.good-luck h5 {
	color: red;
	font-weight: 600;
	font-size: 3vw;
	text-align: center;
}

.congratulation h5 {
	color: red;
	font-weight: 600;
	font-size: 3vw;
}

.congratulation p {
	margin-bottom: 5px;
	font-weight: 600;
	color: red;
	font-size: 1.6vw;
}

.notice {
	margin: 30px 30px;
	text-align: justify;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 25px;
}

.notice-title {
	text-align: center;
	color: red;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.footer img {
	width: 40%;
}

.footer {
	background-image: url(../assets/imgs/good-luck.jpg);
	background-position: bottom;
	background-size: cover;
}

.items-footer {
	flex-direction: column;
	justify-content: center;
	color: red;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
}

.items-footer p {
	margin-bottom: 5px;
}

.items-footer a {
	margin-bottom: 5px;
	color: red;
	text-decoration: none;
}

.items-footer a:hover {
	color: blue;
}

.items-footer h5 {
	font-weight: 600;
}

.items-footer1 {
	justify-content: center;
	align-items: center;
	height: 100%;
}

.page-number {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}

.page-number a {
	text-decoration: none;
	margin: 2px;
}

.page-number button {
	background-color: #f7ab63;
}

.active button {
	background-color: #e67307;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

/*user page*/
.profile {
	padding: 20px;
	margin-bottom: 400px;
}

.profile h5 {
	margin-bottom: 20px;
	font-weight: 700;
	color: rgb(255, 102, 0);
	padding: 10px;
}

.profile .col-5 {
	font-weight: bold;
}

.profile .row {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 5px;
}

.btn-box {
	justify-content: end;
}

.btn-box button {
	margin-left: 10px;
}

.update-form {
	display: none;
	padding: 20px;
	background-color: rgb(221, 221, 221);
	border-radius: 20px;
	margin-top: 10px;
}

.history {
	padding: 10px;
	margin-bottom: 400px;
}

.history table {
	margin-bottom: 10px;
}

.history h5 {
	margin-bottom: 10px;
	font-weight: 700;
	color: rgb(255, 102, 0);
	padding: 10px;
}

.my-modal {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.my-modal-body {
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: center;
	align-items: center;
}

.my-modal-body p {
	color: rgb(52, 182, 52);
}

.md-box {
	margin-top: 100px;
}

.arlet {
	height: 40px;
}

.arlet p {
	color: red;
	margin: 0px;
}
/*user page*/

/*show on moblie*/
.nav-bar-mobile {
	background-color: #f88b59;
	background: linear-gradient(135deg, #f8a712 10%, #f88b59 90%);
	justify-content: space-between;
	display: none;
	width: 100%;
}

.logo-moblie {
	width: 10%;
}

.logo-moblie img {
	max-width: 100%;
}

.menu-moblie ul {
	list-style: none;
	width: 100%;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(175, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.menu-moblie a {
	display: flex;
	text-decoration: none;
	color: rgb(245, 102, 19);
	padding: 5px 20px;
	border: 1px solid #ddd;
	border-collapse: collapse;
	font-size: 16px;
}

.menu-moblie a:hover {
	background-color: #f88b59;
	background: linear-gradient(135deg, #f8a712 10%, #f88b59 90%);
}

.offcanvas {
	width: 300px;
}

.offcanvas-body {
	padding: 0px;
	background-color: #e2dfdf;
}

.offcanvas-header {
	background-color: #f88b59;
	background: linear-gradient(135deg, #f8a712 10%, #f88b59 90%);
	color: white;
}

.offcanvas-header h5 {
	font-size: 20px;
}

.login-moblie {
	margin: 10px 20px;
	border-bottom: 1px solid white;
	padding: 5px;
}

.login-moblie a {
	text-decoration: none;
	color: rgb(245, 102, 19);
}

.login-moblie a:hover {
	color: rgb(81, 49, 224);
}

.user-logo-moblie {
	justify-content: center;
	align-items: center;
}

.user-logo-moblie span {
	margin-left: 15px;
	text-align: center;
}

.ui-front {
	z-index: 10000 !important;
}

/*Show on ipad pro*/
@media only screen and (max-width: 1024px) {
	.nav-bar {
		font-size: 12px;
	}
	.body {
		font-size: 16px;
	}
	.nav-name {
		display: none;
	}
	.footer img {
		width: 70%;
	}
}

/*Show on ipad*/
@media only screen and (max-width: 768px) {
	.logo-acc {
		width: 10%;
	}
	.main {
		width: 70%;
	}
	.adv {
		display: none;
	}
	.check-lottery {
		width: 30%;
	}
	.sticky {
		top: 20px;
		right: 10px;
	}
	.menu {
		display: none;
	}
	.result {
		width: 100%;
		font-size: 10px;
	}
	.result-number {
		font-size: 12px;
	}
	.nav-bar {
		display: none;
	}
	.nav-bar-mobile {
		display: flex;
	}
	.slogan {
		top: 15%;
	}
}

/* Show on mobile*/
@media only screen and (max-width: 576px) {
	.result-header {
		height: 40px;
	}
	.main {
		width: 100%;
	}
	.check-lottery {
		display: none;
	}
	.result-header h2 {
		font-size: 20px;
	}
	.slogan p {
		display: none;
	}
	.btn-search {
		display: flex;
	}
	.result-number {
		font-size: 10px;
		margin: 5px;
	}
	.items-footer {
		border-top: 1px dotted red;
	}
	.footer img {
		width: 50%;
	}
	.footer {
		font-size: 15px;
	}
	.logo-moblie {
		width: 15%;
	}
}